body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
}

.save {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.timer {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.counter {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  margin-left: 5px;
  margin-right: 5px;
}

.input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.2rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.2rem;
}
